#chat_window
  #header
    #controls
      form(action="#", id="message", method="POST")
        input(name="text", placeholder="Say something")
        input(type="submit", value="Send")
  #chat_log
    #presence

